---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllTags, sortItemsByDateDesc } from '../../utils/data-utils';

const [posts, projects, research] = await Promise.all([
    getCollection('blog'),
    getCollection('projects'),
    getCollection('research'),
]);
const tags = getAllTags([...posts, ...projects, ...research]);
---

<BaseLayout title="Tags" description="블로그 포스트 태그 목록">
    <div class="mb-16 sm:mb-24">
        <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-3xl">Tags</h1>
        {
            tags.length > 0 ? (
                <div class="flex flex-wrap gap-4">
                    {tags.map((tag) => (
                        <a
                            class="border border-current py-1 px-4 hover:bg-muted"
                            href={`/tags/${tag.slug}/`}
                        >
                            {tag.name}
                        </a>
                    ))}
                </div>
            ) : (
                <p>태그가 없습니다.</p>
            )
        }
    </div>
</BaseLayout>
