---
export type Props = {
    class?: string;
    href?: string;
    type?: 'button' | 'submit' | 'reset';
};

const { class: className, href, type = 'button' } = Astro.props;
---

{
    href ? (
        <a class:list={['inline-flex items-center justify-center gap-2 border border-current py-2 px-6 text-sm hover:bg-muted', className]} href={href}>
            <slot />
        </a>
    ) : (
        <button class:list={['inline-flex items-center justify-center gap-2 border border-current py-2 px-6 text-sm hover:bg-muted', className]} type={type}>
            <slot />
        </button>
    )
}
