---
export type Props = {
    class?: string;
    href?: string;
    type?: 'button' | 'submit' | 'reset';
};

const { class: className, href, type = 'button' } = Astro.props;
---

{
    href ? (
        <a class:list={['font-sans text-sm font-medium inline-flex items-center justify-center gap-2 border border-accent text-accent py-2 px-6 rounded-sm hover:bg-accent hover:text-white transition-colors', className]} href={href}>
            <slot />
        </a>
    ) : (
        <button class:list={['font-sans text-sm font-medium inline-flex items-center justify-center gap-2 border border-accent text-accent py-2 px-6 rounded-sm hover:bg-accent hover:text-white transition-colors', className]} type={type}>
            <slot />
        </button>
    )
}
