---
export type Props = {
    href: string;
    class?: string;
};

const { href, class: className } = Astro.props;
const isActive = Astro.url.pathname.startsWith(href) && href !== '/';
---

<a
    class:list={[
        className,
        { 'text-accent font-medium': isActive }
    ]}
    href={href}
    aria-current={isActive ? 'page' : undefined}
>
    <slot />
</a>
